<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin_dashboard.css')}}">
</head>
<body>

    <nav>

        {% if session.get('role') == 'admin' %}

            <h2>Admin Menu</h2>

            <a href="/admin_dashboard">Dashboard</a><br><br>

            <a href="/customer_management_table">
                Customer Management
            </a><br><br>

            <a href="/account_table">
                Account Creation
            </a><br><br>


            <a href="/transaction_table">
                Transaction
            </a><br><br>


        {% elif session['role'] == 'customer' %}

            <h2>Customer Menu</h2>

            <a href="/cus_dashboard">
                Dashboard
            </a><br><br>


            <a href="/transaction_request">
                Transaction Request
            </a><br><br>

            <a href="/customer_transaction">
                Total Transactions  
            </a><br><br>


        {% endif %}

        <a href="/">Logout</a>

    </nav>

</body>
</html>