<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin_dashboard.css')}}">
</head>
<body>
    <nav>
        <h2>Admin Menu</h2>
        <a href="/admin_dashboard">Dashboard</a><br><br>
        <a href="/customer_management">Customer Management</a><br><br>
        <a href="/account_creation">Account Creation</a><br><br>
        <a href="/transaction">Transaction</a><br><br>
        <a href="/">Logout</a>
    </nav>


    </body>
</html>