<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/cus_dashboard.css')}}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    {% include '/layouts/menu.html' %}
    <div>
        <h2>Account Detail</h2>
        <p>Account Number : {{customer.account_number}} <br><br>
        </p>
        <h4><i class="fa-solid fa-wallet"></i> : {{customer.balance}} <br><br></h4>        

    </div>
</body>
</html>