        body {
            margin-left: 210px;
        }
        .commission-form {
            width: 400px;
            padding: 20px;

        }

        .option {
            margin-bottom: 20px;
        }

        .input-box {
            display: none;
            margin-top: 15px;
        }

        .input-box input {
            width: 100%;
            padding: 10px;
            
            box-sizing: border-box;
        }