body {
    margin-left: 210px;
}


    .error-message {
        background-color: #f8d7da;
        color: #842029;
        padding: 12px 20px;
        margin: 10px 0;
        border: 1px solid #f5c2c7;
        border-radius: 5px;
        font-weight: bold;
        }