<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/account_creation.css')}}">
</head>
<body>
     {% include '/layouts/menu.html' %}
    <form action="/update_account" method="post">
     <label>Customer : {{customer['firstname']}} {{customer['lastname']}}</label><br><br>
  
    <label>Account Type</label>
        <select name="account_type" value="{{account['account_type']}}">
           <option value="">Select Account Type</option>
            <option value="savings">Savings Account</option>
            <option value="Current">Current Account</option>
            <option value="deposit">Deposit Account</option>
         </select>

        <br><br>

        <label>Initial Deposit</label>
        <input type="number" name="balance" value="{{account['balance']}}">

        <br><br>

        <button type="submit">Create Account</button>


      
    </form>
    
</body>
</html>