<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/customer_management.css')}}">
</head>
<body>
    {% include '/layouts/menu.html' %}
    <form action="/customer_management_created" method="post">
        <h2>Customer Creation :-</h2>
        <label for="">First Name :</label>
        <input type="text" name="firstname" required>
        <label for="">Last Name :</label>
        <input type="text" name="lastname"><br><br>
        <label for="">Phone Number :</label>
        <input type="number" name="phone" required><br><br>
        <label for="">Email</label>
        <input type="text" name="email" required><br><br>
        <label for="">Pan Card :</label>
        <input type="text" name="pancard" required><br><br>
        <label for="">IFSC Number</label>
        <input type="text" name="ifsc" required><br><br>
        <label for="">Address</label>
        <input type="text" name="address" required><br><br>
        <button type="submit">Create</button>
        
    </form>

</body>
</html>